
#table{
    position: relative;
    top: -170px;
    text-align: center;
    align-content: center;
    width: 294px;
    height: 353px;
    background-color: #18F811;
}
 #table img{
    width: 136px;
    height: 131px;
    text-align: center;
    position: relative;
    left: 13.8%;
}
/* #table h3{
    color: #000;
    text-align: center;
    font-family: Jacques Francois;
    font-size: 110%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 5px;
} */
#table .synopsis{
    color: #000;
    font-family: Jacques Francois;
    font-size: 110%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    position: relative;
    top: 28px;
    right: 22%;
} 
#table p{
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family:calibri light;
    font-size: 104%;
    font-style: normal;
    font-weight: 400;
    position: relative;
    top: 15px;
    text-align: justify;
    width: 92%;
    left: 2.5%;
    /* line-height: normal;
    
    text-align: left;
    height: 74px; */
} 
.recommander .lecture a{
    background:linear-gradient(black,black,rgba(179, 176, 176, 0.63),black,black,black) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    font-size: 138%;
    top: -289px;
    left: 47.5%;
}
.recommander .lecture a:hover{
    padding-top: 7px;
    padding-right: 15px;
    padding-left: 15px;
    animation: lecture 1s linear 1 1ms forwards;
    position: relative;
    left: 47%;
}
@keyframes lecture{
    25%{
        border-top: solid 1px #18F811;
        border-right: none;
        border-bottom: none;
        border-left: none;
    }
    35%{
        border-top: none;
        border-right: solid 1px #18F811;
        border-bottom: none;
        border-left: none;
    }
    45%{
        border-top: none;
        border-right: none;
        border-bottom: solid 1px #18F811;
        border-left: none;
    }
    55%{
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-left: solid 1px #18F811;
    }
    62%{
        border-top: solid 1px #18F811;
        border-right: solid 1px #18F811;
        border-bottom: solid 1px #18F811;
        border-left: solid 1px #18F811;
    }
    70%{
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-left: none;
    }
    80%{
        border-top: solid 1px #18F811;
        border-right: solid 1px #18F811;
        border-bottom: solid 1px #18F811;
        border-left: solid 1px #18F811;
    }
    90%{
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-left: none;
    }
    100%{
        position: relative;
        border-top: solid 1px #18F811;
        border-right: solid 1px #18F811;
        border-bottom: solid 1px #18F811;
        border-left: solid 1px #18F811;
        background-color: #18F811;
        color: black;
    }
}
.lecture a{
    position: relative;
    background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0.00) 100%);
    padding: 9px;
    padding-top: 2px;
    text-align: center;
    font-family: Judson;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    z-index: 1;
    top: 5px;
    text-decoration: none;
    color: rgba(31, 28, 28, 0.651);
}
.lecture a:hover{
    color: #FFF;
}
#in-body{
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    width: 90%;
    position: relative;
    left: 4.7%;
    top: 270px;
    height: 900px;
    border: 0.5px solid #000;
    background: rgba(217, 217, 217, 0.22);
}
#partie1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
    top: -50px;
}
#partie2{
    display: flex;
    position: absolute;
    width: 100%;
    top: 650px;
    justify-content: space-around;
    right: 0%;
}
footer{
    background-color: black;
    height: 210px;
    position: relative;
    top: 600px;
}
footer p{
    color: #FFF;
    text-align: center;
    font-family: Judson;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}