#image{
    position: absolute;
    left: 0%;
    top: 275px;
    z-index: -7;
}
#image img{
    width: 100%;
    height: 500px;
    position: relative;
}
 #image img:nth-child(1){
     opacity: 0; 
    animation: defile 17s infinite linear normal;
  
}
#image img:nth-child(2){
     opacity: 0; 
    animation: defile1 17s infinite linear normal;
    position: relative;
    top: -504px;
}
#image img:nth-child(3){
     opacity: 0; 
    animation: defile2 17s infinite linear normal;
    position: relative;
    top: -1008px;
}
#image img:nth-child(4){
     opacity: 0; 
    animation: defile3 17s infinite linear normal;
    position: relative;
    top: -1512px;
}
 @keyframes defile{
    0%{
        opacity: 1;
    }
    8%{ 
        opacity: 1;
    }
    16%{
        opacity: 1;
    }
    24%{ 
        opacity: 0;
    }
    32%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    48%{
        opacity: 0;
    }
    56%{
        opacity: 0;
    }
    64%{
        opacity: 0;
    }
    72%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    88%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes defile1{
    0%{
        opacity: 0;
    }
    8%{ 
        opacity: 0;
    }
    16%{
        opacity: 0;
    }
    24%{ 
        opacity: 1;
    }
    32%{ 
        opacity: 1;
    }
    40%{
        opacity: 1;
    }
    48%{
        opacity: 0;
    }
    56%{
        opacity: 0;
    }
    64%{
        opacity: 0;
    }
    72%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    88%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes defile2{
    0%{
        opacity: 0;
    }
    8%{ 
        opacity: 0;
    }
    16%{
        opacity: 0;
    }
    24%{ 
        opacity: 0;
    }
    32%{ 
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    48%{
        opacity: 1;
    }
    56%{
        opacity: 1;
    }
    64%{
        opacity: 1;
    }
    72%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    88%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes defile3{
    0%{
        opacity: 0;
    }
    8%{ 
        opacity: 0;
    }
    16%{
        opacity: 0;
    }
    24%{ 
        opacity: 0;
    }
    32%{ 
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    48%{
        opacity: 0;
    }
    56%{
        opacity: 0;
    }
    64%{
        opacity: 0;
    }
    72%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    88%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
} 
#entete-corps h3{
    color: #18F811;
    font-family: Jacques Francois;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 747px;
    height: 240px;
    position: relative;
    top: 250px;
    left: 3%;
    z-index: -4;
}
#entete-corps h3 span{
    font-family: Jacques Francois;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #000 0%, rgba(40, 45, 40, 0.48) 83.33%, rgba(24, 248, 17, 0.02) 99.99%, rgba(24, 248, 17, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -4;
}
#entete-corps h4{
    color: #FFF;
    font-family: Jacques Francois;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 541px;
    height: 157px;
    position: relative;
    top: 250px;
    z-index: -4;
    left: 53%;
}
#entete-corps h4 span{
    text-align: right;
    z-index: -4;
}
#entete-corps  a{
    text-decoration: none;
    color: white;
    z-index: -1;
    font-size: 32px;
    position: relative;
    left: 82%;
    top: 120px;
}