img{
    width: 380px;
    height: 380px;
}
.recommander div{
   position: relative;
   top: 220px;
}
.recommander div h2{
    position: relative;
    left: 2%;
}
.recommander div img{
    position: relative;
    left: 35.66%;
}
.recommander div .titre{
    position: relative;
    top: 20px;
    font-size: 20px;
    left: 17%;
    font-weight: 400;
}
.recommander div p{
    width: 85%;
    font-size: 18px;
    position: relative;
    left: 7%;
    top: 5px;
    text-align: justify;
    border-bottom: double 7px black;
    padding-bottom: 85px;

}
.recommander div:last-child p{
    border-bottom: none;
}